<a href="https://colab.research.google.com/github/KonungurProFer/Proyecto_telecom_X/blob/main/TelecomX_LATAM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Extracci贸n

##1. Carga de Datos y Librer铆as

In [656]:
import pandas as pd
import numpy as np
df= pd.read_json("https://raw.githubusercontent.com/alura-cursos/challenge2-data-science-LATAM/refs/heads/main/TelecomX_Data.json")

In [657]:
print(f"   Dimensiones: {df.shape[0]} filas x {df.shape[1]} columnas")

   Dimensiones: 7267 filas x 6 columnas

##1.2 Conociendo los datos

###  Diccionario de Datos - TelecomX LATAM

## Descripci贸n General

Este diccionario contiene la informaci贸n detallada de todas las variables presentes en el dataset de TelecomX.

---

##  Variables del Dataset

### 1锔 Identificaci贸n del Cliente

- **`customerID`**: n煤mero de identificaci贸n 煤nico de cada cliente


### 2锔 Cancelaci贸n del Servicio

- **`Churn`**: si el cliente dej贸 o no la empresa
  - `Yes` o `No`


### 3锔 Informaci贸n del Cliente (`customer`)

- **`gender`**: g茅nero (masculino y femenino)
  - `Male` o `Female`

- **`SeniorCitizen`**: informaci贸n sobre si un cliente tiene o no una edad igual o mayor a 65 a帽os
  - `0` = No
  - `1` = S铆

- **`Partner`**: si el cliente tiene o no una pareja
  - `Yes` o `No`

- **`Dependents`**: si el cliente tiene o no dependientes
  - `Yes` o `No`

- **`tenure`**: meses de contrato del cliente
  - Valor num茅rico en meses


### 4锔 Servicios de Telefon铆a (`phone`)

- **`PhoneService`**: suscripci贸n al servicio telef贸nico
  - `Yes` o `No`

- **`MultipleLines`**: suscripci贸n a m谩s de una l铆nea telef贸nica
  - `Yes`, `No` o `No phone service`


### 5锔 Servicios de Internet (`internet`)

- **`InternetService`**: suscripci贸n a un proveedor de internet
  - `DSL`, `Fiber optic`, `No`

- **Servicios adicionales**:
  - **`OnlineSecurity`**: suscripci贸n adicional de seguridad en l铆nea
  - **`OnlineBackup`**: suscripci贸n adicional de respaldo en l铆nea
  - **`DeviceProtection`**: suscripci贸n adicional de protecci贸n del dispositivo
  - **`TechSupport`**: suscripci贸n adicional de soporte t茅cnico, menor tiempo de espera
  - **`StreamingTV`**: suscripci贸n de televisi贸n por cable
  - **`StreamingMovies`**: suscripci贸n de streaming de pel铆culas


### 6锔 Informaci贸n de la Cuenta (`account`)

- **`Contract`**: tipo de contrato
  - `Month-to-month`, `One year`, `Two year`

- **`PaperlessBilling`**: si el cliente prefiere recibir la factura en l铆nea
  - `Yes` o `No`

- **`PaymentMethod`**: forma de pago
  - `Bank transfer`, `Credit card`, `Electronic check`, `Mailed check`

- **`Charges.Monthly`**: total de todos los servicios del cliente por mes
  - Valor num茅rico

- **`Charges.Total`**: total gastado por el cliente
  - Valor num茅rico

---

##  Notas Importantes

- Las variables categ贸ricas utilizan principalmente valores binarios (`Yes`/`No`) o categor铆as espec铆ficas
- Los valores num茅ricos incluyen `tenure`, `Charges.Monthly` y `Charges.Total`
- `SeniorCitizen` es la 煤nica variable que usa codificaci贸n num茅rica binaria (0/1) en lugar de texto
- Algunas variables de servicios pueden tener el valor `No internet service` o `No phone service` cuando el cliente no tiene el servicio base correspondiente.

##1.3 Vista Inicial de los Datos

In [658]:
df.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [659]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7267 non-null   object
 1   Churn       7267 non-null   object
 2   customer    7267 non-null   object
 3   phone       7267 non-null   object
 4   internet    7267 non-null   object
 5   account     7267 non-null   object
dtypes: object(6)
memory usage: 340.8+ KB

# Transformaci贸n

##2. Desanidado de Datos JSON

In [660]:
#Normalizando
df_customer=pd.json_normalize(df["customer"])
df_phone=pd.json_normalize(df["phone"])
df_internet=pd.json_normalize(df["internet"])
df_account=pd.json_normalize(df["account"])

In [661]:
# Concatenar todos los dataframes normalizados
df_normalizado= pd.concat([df[["customerID","Churn"]], df_customer, df_phone, df_internet, df_account], axis=1)
pd.set_option('display.max_columns', None)
df_normalizado.head()

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

In [662]:
print(f"   Dimensiones finales: {df_normalizado.shape[0]} filas x {df_normalizado.shape[1]} columnas")

   Dimensiones finales: 7267 filas x 21 columnas

In [663]:
df_normalizado.head()

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

##2.2 Exploraci贸n del Dataset Normalizado

In [664]:
# Informaci贸n detallada
df_normalizado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [665]:
#Verificando que valores tenemos
for col in df_normalizado.columns:
    print(df_normalizado[col].unique())

['0002-ORFBO' '0003-MKNFE' '0004-TLHLJ' ... '9992-UJOEL' '9993-LHIEB'
 '9995-HOTOH']
['No' 'Yes' '']
['Female' 'Male']
[0 1]
['Yes' 'No']
['Yes' 'No']
[ 9  4 13  3 71 63  7 65 54 72  5 56 34  1 45 50 23 55 26 69 11 37 49 66
 67 20 43 59 12 27  2 25 29 14 35 64 39 40  6 30 70 57 58 16 32 33 10 21
 61 15 44 22 24 19 47 62 46 52  8 60 48 28 41 53 68 51 31 36 17 18 38 42
  0]
['Yes' 'No']
['No' 'Yes' 'No phone service']
['DSL' 'Fiber optic' 'No']
['No' 'Yes' 'No internet service']
['Yes' 'No' 'No internet service']
['No' 'Yes' 'No internet service']
['Yes' 'No' 'No internet service']
['Yes' 'No' 'No internet service']
['No' 'Yes' 'No internet service']
['One year' 'Month-to-month' 'Two year']
['Yes' 'No']
['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']
[65.6  59.9  73.9  ... 91.75 68.8  67.85]
['593.3' '542.4' '280.85' ... '742.9' '4627.65' '3707.6']

##2.3 Verificaci贸n de Nulos

In [666]:
#Verificando que no exista nulos
df_normalizado.isna().sum().rename("Nulos")

customerID          0
Churn               0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
Charges.Monthly     0
Charges.Total       0
Name: Nulos, dtype: int64

##2.4 Verificaci贸n de Duplicados

In [667]:
datos_duplicados = df_normalizado.duplicated().sum()
print(f"Registros duplicados: {datos_duplicados}")

Registros duplicados: 0

###Detecci贸n de problemas

In [668]:
df_normalizado["Churn"].unique()

array(['No', 'Yes', ''], dtype=object)

In [669]:
df_normalizado=df_normalizado.query('Churn!=""')

In [670]:
# Buscar valores no num茅ricos en Charges.Total
df_normalizado[~df_normalizado['Charges.Total'].astype(str).str.contains(r'^-?\d*\.?\d+$')].head()

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
975,1371-DWPAZ,No,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,Yes,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,
1775,2520-SGTTA,No,Female,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,
1955,2775-SEFEE,No,Male,0,No,Yes,0,Yes,Yes,DSL,Yes,Yes,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,
2075,2923-ARZLG,No,Male,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,
2232,3115-CZMZD,No,Male,0,No,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,

In [671]:
df_normalizado=df_normalizado[df_normalizado['Charges.Total'].astype(str).str.contains(r'^-?\d*\.?\d+$')]

In [672]:
#Creando la columna cuentas diarias
df_normalizado["Cuentas_diarias"]=(df_normalizado['Charges.Monthly']/30).round(3)

In [673]:
columnas_tf= ["Churn",
              "Partner",
              "Dependents",
              "PaperlessBilling",
              "OnlineSecurity",
              "OnlineBackup",
              "DeviceProtection",
              "TechSupport",
              "StreamingTV",
              "StreamingMovies",
              "PhoneService",
              "MultipleLines"]

In [674]:
#Ajustando datos
ajustando_tf= df_normalizado[columnas_tf]
for var in ajustando_tf.columns:
  df_normalizado[var]=df_normalizado[var].apply(lambda x: x.replace("No internet service", "0").replace("No phone service", "0").replace("No", "0").replace("Yes", "1"))

In [675]:
df_normalizado

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total,Cuentas_diarias
0,0002-ORFBO,0,Female,0,1,1,9,1,0,DSL,0,1,0,1,1,0,One year,1,Mailed check,65.60,593.3,2.187
1,0003-MKNFE,0,Male,0,0,0,9,1,1,DSL,0,0,0,0,0,1,Month-to-month,0,Mailed check,59.90,542.4,1.997
2,0004-TLHLJ,1,Male,0,0,0,4,1,0,Fiber optic,0,0,1,0,0,0,Month-to-month,1,Electronic check,73.90,280.85,2.463
3,0011-IGKFF,1,Male,1,1,0,13,1,0,Fiber optic,0,1,1,0,1,1,Month-to-month,1,Electronic check,98.00,1237.85,3.267
4,0013-EXCHZ,1,Female,1,1,0,3,1,0,Fiber optic,0,0,0,1,1,0,Month-to-month,1,Mailed check,83.90,267.4,2.797
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,0,Female,0,0,0,13,1,0,DSL,1,0,0,1,0,0,One year,0,Mailed check,55.15,742.9,1.838
7263,9992-RRAMN,1,Male,0,1,0,22,1,1,Fiber optic,0,0,0,0,0,1,Month-to-month,1,Electronic check,85.10,1873.7,2.837
7264,9992-UJOEL,0,Male,0,0,0,2,1,0,DSL,0,1,0,0,0,0,Month-to-month,1,Mailed check,50.30,92.75,1.677
7265,9993-LHIEB,0,Male,0,1,1,67,1,0,DSL,1,0,1,1,0,1,Two year,0,Mailed check,67.85,4627.65,2.262
7266,9995-HOTOH,0,Male,0,1,1,63,0,0,DSL,1,1,1,0,1,1,Two year,0,Electronic check,59.00,3707.6,1.967

##2.5 Conversi贸n de Tipo de Datos

In [676]:
df_normalizado[columnas_tf]=df_normalizado[columnas_tf].astype(np.int64)
df_normalizado['Charges.Total']=df_normalizado["Charges.Total"].astype(np.float64)

In [677]:
df_normalizado.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7032 entries, 0 to 7266
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7032 non-null   object
 1   Churn             7032 non-null   int64
 2   gender            7032 non-null   object
 3   SeniorCitizen     7032 non-null   int64
 4   Partner           7032 non-null   int64
 5   Dependents        7032 non-null   int64
 6   tenure            7032 non-null   int64
 7   PhoneService      7032 non-null   int64
 8   MultipleLines     7032 non-null   int64
 9   InternetService   7032 non-null   object
 10  OnlineSecurity    7032 non-null   int64
 11  OnlineBackup      7032 non-null   int64
 12  DeviceProtection  7032 non-null   int64
 13  TechSupport       7032 non-null   int64
 14  StreamingTV       7032 non-null   int64
 15  StreamingMovies   7032 non-null   int64
 16  Contract          7032 non-null   object
 17  PaperlessBilling  7032 non-null   int64
 18  PaymentMethod     7032 non-null   object
 19  Charges.Monthly   7032 non-null   float64
 20  Charges.Total     7032 non-null   float64
 21  Cuentas_diarias   7032 non-null   float64
dtypes: float64(3), int64(14), object(5)
memory usage: 1.2+ MB

##2.6 Reorganizando

In [678]:
name_columns= {"customerID": "ID",
               "Churn": "Abandon贸_Servicio",
               "gender": "G茅nero",
               "SeniorCitizen": "Cliente_Se帽or",
               "Partner": "Tiene_Pareja",
               "Dependents": "Tiene_Dependientes",
               "tenure": "Antig眉edad",
               "PhoneService": "Servicio_Telef贸nico",
               "MultipleLines": "M煤ltiples_L铆neas",
               "InternetService": "Servicio_Internet",
               "OnlineSecurity": "Seguridad_Online",
               "OnlineBackup": "Respaldo_Online",
               "DeviceProtection": "Protecci贸n_Dispositivo",
               "TechSupport": "Soporte_T茅cnico",
               "StreamingTV": "TV_Streaming",
               "StreamingMovies": "Pel铆culas_Streaming",
               "Contract": "Tipo_Contrato",
               "PaperlessBilling": "Facturaci贸n_Sin_Papel",
               "PaymentMethod": "M茅todo_Pago",
               "Charges.Monthly": "Cargo_Mensual",
               "Charges.Total": "Cargo_Total",
               "Cuentas_diarias": "Cargo_Diario"}

In [679]:
df_normalizado=df_normalizado.rename(columns=name_columns)

In [680]:
df_normalizado.sample(6)

,ID,Abandon贸_Servicio,G茅nero,Cliente_Se帽or,Tiene_Pareja,Tiene_Dependientes,Antig眉edad,Servicio_Telef贸nico,M煤ltiples_L铆neas,Servicio_Internet,Seguridad_Online,Respaldo_Online,Protecci贸n_Dispositivo,Soporte_T茅cnico,TV_Streaming,Pel铆culas_Streaming,Tipo_Contrato,Facturaci贸n_Sin_Papel,M茅todo_Pago,Cargo_Mensual,Cargo_Total,Cargo_Diario
3942,5383-MMTWC,1,Female,1,1,0,8,1,1,Fiber optic,0,0,0,0,0,1,Month-to-month,1,Electronic check,84.00,613.40,2.800
2652,3694-GLTJM,0,Female,0,0,0,5,1,0,No,0,0,0,0,0,0,Month-to-month,1,Credit card (automatic),19.65,92.05,0.655
5183,7074-STDCN,0,Male,0,0,0,39,0,0,DSL,0,0,0,1,0,1,Month-to-month,1,Electronic check,40.60,1494.50,1.353
5003,6845-RGTYS,1,Female,0,1,0,47,1,1,Fiber optic,1,1,1,0,1,0,Month-to-month,1,Electronic check,98.75,4533.70,3.292
333,0485-ZBSLN,0,Male,0,1,1,65,1,1,No,0,0,0,0,0,0,Two year,0,Credit card (automatic),24.75,1715.10,0.825
6302,8668-KNZTI,0,Male,0,0,0,52,1,0,DSL,1,0,1,0,0,0,One year,0,Electronic check,53.75,2790.65,1.792

In [681]:
#Verificando que valores tenemos
for col in df_normalizado.columns:
    print(df_normalizado[col].unique())

['0002-ORFBO' '0003-MKNFE' '0004-TLHLJ' ... '9992-UJOEL' '9993-LHIEB'
 '9995-HOTOH']
[0 1]
['Female' 'Male']
[0 1]
[1 0]
[1 0]
[ 9  4 13  3 71 63  7 65 54 72  5 56 34  1 45 50 23 55 26 69 37 49 66 67
 20 43 59 12 27  2 25 29 14 35 64 39 40 11  6 30 70 57 58 16 32 33 10 21
 61 15 44 22 24 19 47 62 46 52  8 60 48 28 41 53 68 31 36 17 18 51 38 42]
[1 0]
[0 1]
['DSL' 'Fiber optic' 'No']
[0 1]
[1 0]
[0 1]
[1 0]
[1 0]
[0 1]
['One year' 'Month-to-month' 'Two year']
[1 0]
['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']
[65.6  59.9  73.9  ... 91.75 68.8  67.85]
[ 593.3   542.4   280.85 ...  742.9  4627.65 3707.6 ]
[2.187 1.997 2.463 ... 3.058 2.293 2.262]

In [682]:
name_values={"Female":"Femenino",
             "Male":"Masculino",
             "Fiber optic":"Fibra optica",
             "One year":"Anual",
             "Month-to-month":"Mensual",
             "Two year":"Bienal",
             "Mailed check": "Cheque enviado por correo",
             "Electronic check": "Cheque electr贸nico",
             "Credit card (automatic)": "Tarjeta de cr茅dito (autom谩tico)",
             "Bank transfer (automatic)": "Transferencia bancaria (autom谩tica)"}

In [683]:
df_normalizado.replace(name_values, inplace=True)

In [684]:
df_normalizado.sample(3)

,ID,Abandon贸_Servicio,G茅nero,Cliente_Se帽or,Tiene_Pareja,Tiene_Dependientes,Antig眉edad,Servicio_Telef贸nico,M煤ltiples_L铆neas,Servicio_Internet,Seguridad_Online,Respaldo_Online,Protecci贸n_Dispositivo,Soporte_T茅cnico,TV_Streaming,Pel铆culas_Streaming,Tipo_Contrato,Facturaci贸n_Sin_Papel,M茅todo_Pago,Cargo_Mensual,Cargo_Total,Cargo_Diario
3645,5022-KVDQT,0,Masculino,0,0,0,27,1,1,Fibra optica,0,0,1,0,0,0,Mensual,1,Cheque electr贸nico,81.30,2272.8,2.710
6560,9026-LHEVG,0,Femenino,0,0,0,9,0,0,DSL,0,1,0,0,0,1,Mensual,0,Cheque electr贸nico,40.75,359.4,1.358
3763,5172-MIGPM,0,Masculino,0,0,0,4,1,1,DSL,0,0,0,1,0,1,Mensual,0,Cheque enviado por correo,65.55,237.2,2.185

In [685]:
#Verificando que el indice este correcto
df_normalizado.index.equals(pd.RangeIndex(start=0, stop=len(df_normalizado), step=1))

False

In [686]:
#Reseteando 铆ndice
df_normalizado.reset_index(drop=True, inplace=True)

In [687]:
#Verificando que el indice este correcto
df_normalizado.index.equals(pd.RangeIndex(start=0, stop=len(df_normalizado), step=1))

True

# Carga y an谩lisis

#Informe final